<div class="row">
    <div class="col-xs-9">
        <div class="col-xs-4 caja1" data-ng-repeat="producto in productos" data-ng-class="{'ocultar' : producto.ocultar}">
            <div class="push-left well col-xs-12">
                <h4>{{producto.nombre}}</h4>            
                <div class="imagen">
                    <img data-ng-src="{{producto.imagen}}" width="50">
                </div>
                <div class="precio text-right">
                    {{producto.precio | currency: "€"}}
                </div>
                <p>
                    {{producto.descripcion}}
                </p>
                <input type="button" value="Comprar" data-ng-click="comprar(producto)" class="btn btn-success" data-ng-disabled="producto.ocultar" />
            </div>
        </div>
    </div>
    <div class="col-xs-3 caja2">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-xs-12 notPadding">
                    <span class="pull-left">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Carrito de compras
                    </span>
                </div>
                <div class="col-xs-12 notPadding">
                   <ul class="list-group">
                       <li class="list-group-item" data-ng-repeat="producto in carrito">
                           {{producto.nombre}}
                           <b class="pull-right">{{producto.precio | currency:"€"}}</b>
                       </li>
                   </ul>
                   <h2>Total: {{total() | currency:"€"}}</h2>
                   
                   <button data-ng-click="finalizar()" class="btn btn-success">Finalizar compra</button>
                </div>
            </div>
        </div>
    </div>
</div>      